*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page {
  position: relative;
  display: flex;
  height: inherit;
  margin: 0;
  font-family: Raleway, sans-serif;
  background-color: #fec7ee;
}

.page::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgb(255 255 255 / 0.3);
}

.page__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.page__title {
  z-index: 1;
  max-width: 720px;
  padding-top: 60px;
  margin: 0 auto;
  font-size: 116px;
  letter-spacing: 3.5px;
  text-align: center;
  text-transform: uppercase;
}

.page__title::after {
  content: "*";
}

.page__title:hover {
  color: #4C4C4C;
  cursor: default;
}

.page__title:hover::before {
  content: "На самом деле нет.\AВажнее &mdash; научиться ошибаться.";
  position: absolute;
  top: 180px;
  right: 22px;
  max-width: 742px;
  border: 2px solid #000;
  color: #000;
  border-radius: 20px;
  padding: 36px 44px;
  box-shadow: 0 14px 0 0 #000;
  font-weight: normal;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: normal;
  text-align: left;
  text-transform: initial;
  background-color: #fff;
  white-space: pre;
}